.card{
    width: 300px;
    box-shadow: 0 4px 8px #FF0000;
    border: 1px solid #CD0000;
    border-radius: 8px;
}

img{
    width: 100%;
}

button{
    padding: 15px;
}

h3{
    padding: 15px;
}

p{
    padding: 15px;
}